#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	database:
		driver: sqlite
		host: %appDir%/../db/share.db

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error

	database:
		dsn: '%database.driver%:%database.host%'

	session:
		expiration: 14 days


services:

	database: @nette.database.default

	authenticator: Authenticator
	routerFactory: RouterFactory
	router: @routerFactory::createRouter(@database)

	newsModel: Aiki\NewsRepository
	contactModel: Aiki\ContactModel
	galleriesModel: Aiki\GalleriesRepository
	personsModel: Aiki\PersonsRepository
	frontpageModel: Aiki\FrontpageRepository(@database)

	stringAttribute: Aiki\StringAttribute
	textAttribute: Aiki\TextAttribute
	


factories: