#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			driver: sqlite
			host: %appDir%/../db/share.db

	php:
		date.timezone: Europe/Prague
		# zlib.output_compression: yes

	nette:
		application:
			errorPresenter: Error

		database:
			dsn: '%database.driver%:%database.host%'

		session:
			expiration: 14 days


	services:
		authenticator: Authenticator
		routerFactory: RouterFactory
		router: @routerFactory::createRouter
		
		newsRepository: Aiki\NewsRepository
		contactModel: Aiki\ContactModel
		galleriesRepository: Aiki\GalleriesRepository



	factories:


production < common:

development < common:
