#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

database:
	default:
		dsn: 'sqlite:%appDir%/../db/share.db'

nette:
	application:
		errorPresenter: Error


	session:
		expiration: 14 days


services:

	authenticator: Authenticator
	routerFactory: RouterFactory
	router: @routerFactory::createRouter

	newsModel: Aiki\NewsRepository
	contactModel: Aiki\ContactModel
	galleriesModel: Aiki\GalleriesRepository
	personsModel: Aiki\PersonsRepository
	frontpageModel: Aiki\FrontpageRepository

	stringAttribute: Aiki\StringAttribute
	textAttribute: Aiki\TextAttribute
	imageAttribute: Aiki\ImageAttribute
	
