{block content}
{dump $photos}
	<h1 n:block=title>{$gallery->title}</h1>
	<p n:foreach="$photos as $photo">
		<a href="{$photo->key}.jpg"><img src="{$photo->key}-prev.jpg" /></a>
	</p>
{/block}
