{block content}
	<h1 n:block=title>Novinky</h1>
	<ul>
		<li n:foreach="$news as $new">
                    {$new->title}
                    <a n:href="News:edit id=>$new->id">Editovat</a>
                    <a n:href="News:delete id=>$new->id">Smazat</a>
		</li>
	</ul>
        <p><a n:href="News:create">Založit novou</a></p>



{/block}
