{block content}
	<h1 n:block=title>Fotogalerie</h1>
	
	<dl n:foreach="$galleries as $gallery">
		<dt>
			{$gallery->created|date:'d.m. Y'}
			<a n:href="Galleries:detail id=>$gallery->id">{$gallery->title}</a>
			<a n:href="Galleries:upload id=>$gallery->id">Nahrát fotky</a>
			<a n:href="Galleries:delete id=>$gallery->id" alert="Opravdu chcete smazat?">Smazat</a>
		</dt>
	</dl>
	
	<p><a n:href="Galleries:create">Založit novou fotogalerii</a></p>



{/block}
